@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Viga&display=swap');

.jumbotron {
background-image: url('bgj.jpg');
color: white;
height: 300px;
text-align: center;
background-size: cover;
}

.jumbotron p {
font-family: 'Montserrat', sans-serif;
}

.display-4 {
  font-size: 36px;
  font-family: 'Oswald', ssans-serif;
  
  
}

.navbar-brand {
   font-family: 'Oswald', ssans-serif;
}

.info-panel {
  background-color: white;
  box-shadow: 0 3px 20px rgba(0,0,0,0.5);
  border-radius: 12px;
  margin-top: -50px;
  padding: 30px;
}

.info-panel img {
  width: 60px;
  height: 60px;
  margin-right: 20px ;
  margin-bottom: 20px;
}
.btn {
  border-radius: 13px;
}
.jumbotron .btn {
  box-shadow: 0 3px 20px rgba(0,0,0,0.5);
}

.testi {
  font-family: 'Viga', sans-serif;
}
  
// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .info-panel {
    margin-top: -100px;
  }
}

